.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 15px;
  gap: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-lightblue);
  border-radius: 4px;
}

@media (max-width: 665px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
